/** @description:- Styling for Model Superviser screen*/
body .table-supervisee {
  color: white;
  font-weight: normal;
}
.check-item {
  transform: scale(1.3, 1.3);
  cursor: pointer;
}
.scroll-object {
  max-height: 290px;
  overflow-y: auto;
}
.modal-content{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
body .search-bar{
  width: 460px;
}
.table-supervisee{
  top:0;
  position: sticky;
  z-index: 3;
}
.table-supervisee button {
  border: none;
  background-color: transparent;
  color: white;
}



